In [1]:
import pandas as pd
import sqlalchemy

In [4]:
# creating a connection
# mysql+mysqlconnector://username:password@server/database
conn = sqlalchemy.create_engine("mysql+mysqlconnector://root:idrus123@localhost/august")

In [6]:
df = pd.read_sql("select * from customers", conn)
df

   Id    Name  Age      Address   Salary
0   1    John   32     New York  12455.0
1   2  Robert   25       London  48755.0
2   3    Juan   28        Paris  13525.0
3   4   Cello   18      Jakarta  78925.0
4   5   Oscar   39    Singapore  13655.0
5   6   Anshu   42        Delhi  12455.0
6   7   Rahul   21  Kualalumpur  78555.0